@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Prevent horizontal scroll globally */
html, body {
  font-family: 'Courgette', serif;
  font-size: large;
    overflow-x: hidden;
    width: 100%;
    .btn-hover:hover {
      background-color: #0056b3;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
    
  }
  
 
  